.container {
    margin-left: 20px;
  }
  
  .container h1 {
    color: green
  }
  
  .container li {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    background-color: #35F543;
    width: 400px;
    color: white;
    padding: 2px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }