.main-grid-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
   grid-template-areas:
       'aside main'

}

.grid-aside {
    grid-area: aside;
    background-color: rgb(45, 251, 38);
}

.grid-main {
    grid-area: main;
    background-color: rgb(251, 215, 38);

}