.story-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    max-width: 630px;
    width: 100vw;
    align-items: center;
    padding: 0px;
    margin: 0px;

    li {
        // background-color: #d1a1a1;

        border-width: 1px;
        border-style: solid;
        border-color: blue;


        margin: 0px 0px 20px;
        padding: 0px 0px 16px;
        // height: 830px;

    }

    a {
        padding: 0px;
        margin: 0px;
        // color: $clr1;
        // padding: 10px;
    }

    h3 {
        padding: 0px;
        margin: 0px;
        background-color: #ddd;
        // padding: 10px 5px;
        // margin: 1px;
    }
}

.main {
    padding: 0px;
    margin: 0px;
    max-width: 630px;
    border-color: black;
    border-style: solid;
    border-width: 1px;

}

.right-side {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: red;
    max-width: 383px;
    height: 100vh;
    padding: 0px 0px 0px 64px;
    margin: 0px;

}
.right-side-active-area{
    width: 319;
    height: 546px;
    margin: 36px 0px 0px;
    padding: 0px 0px 0px 64px;
    
}
.right-side-user-profile{
width: 319;
height: 44px;
padding: 0px 16px;

}
.right-side-Suggested-for-you{
    width: 319px;
    height: 339px;
    margin: 0px 0px 12px 16px;
    

}
.right-side-footer{
    width: 319px;
    height: 111px;
    margin: 0px 0px 8px;
    padding: 0px 16px ;

}


.story-item {
    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    max-width: 470px;
    height: 585;
    width: 100vw;
    justify-items: center;

}

.story-list {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // justify-self: center;
    // justify-items: center;

}

.div-story-avatar {
    padding: 0px;
    margin: 0px;
    display: flex;
}

.story-header {
    padding: 0px;
    margin: 0px;
    // background-color: rgb(178, 46, 46);
    color: black;
    padding: 0px 0px 12px 4px;


}

.story-media-background {
    display: flex;
    align-items: center;
    background-color: black;
    max-width: 470px;
    min-height: 470px;

}

.story-footer {

    width: 470px;
}

.story-action-icons-bar {
    margin: 4px 0px;
    width: 470px;
    height: 40px;

}

.story-action-icons-bar-left {
    width: 235px;
    height: 40px;

}

.icon-div-size {
    padding: 8px;

    width: 40px;
    height: 40px;

}

.story-action-icons-bar-right {
    width: 235px;
    height: 40px;
    display: flex;


    justify-content: right;
}
.story-title-panel{
    width: 470px;
    height: 36px;
    margin: 8px 0px 0px;

}
.story-view-all-comments{
    width: 470px;
    height: 18px;

}
.story-title {
    width: 470px;
    height: 36px;
    margin: 8px 0px 0px;
}
.story-likes{
    font-weight: bold;
    font-size: small;
    width: 470px;
    height: 18px;
}
.story-textarea-panel {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    margin: 8px 0px 0px;
    width: 470px;
    height: 18px;
}

.story.comment-post-button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    font-weight: bold;
    color: blue;
}
.story-textarea-box{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    max-width: 451px;
    min-width: 408px;
    height: 18px;
}
textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    // padding: 0px;
    display: flex;
    width: 100%;
    min-height: 18px;
    max-height: 80px;
    overflow: auto;
    //font-size: 14px;
    border: 0;
    resize: none;

    &:focus-visible {
        outline: 0;
    }
}

.top-reels {
    padding: 0px;
    margin: 0px;

    padding: 8px 0px;
    align-self: center;
    justify-self: auto;
    max-width: 630px;
    max-height: 85px;
    height: 100vh;
    width: 100vw;

}

.users-reels-img {
    padding: 0px;
    margin: 0px;
    // background-color: $clr2;
    padding: 0.2rem;
    margin: 10px;
    color: white;
    border-color: magenta;
    border-width: 2px;
    border-style: solid;


    width: 56px;
    height: 56px;
    border-radius: 50%;
    // object-fit: cover;


}